version: "3.9"

services:

  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: demo
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  trino:
    image: trinodb/trino:latest
    container_name: trino
    ports:
      - "8080:8080"
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 1G
    volumes:
      - ./trino/etc:/etc/trino
    depends_on:
      - postgres
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/v1/info" ]
      interval: 30s
      timeout: 10s
      retries: 5

  pipeline:
    build:
      context: ..
      dockerfile: docker/app/Dockerfile
    environment:
      - POSTGRES_URL=postgresql://admin:admin@postgres:5432/demo
      - SPACEX_LATEST_URL=https://api.spacexdata.com/v5/launches/latest
      - TABLE_NAME=spacex_latest
    container_name: pipeline
    depends_on:
      - postgres
      - trino
    volumes:
      - ../src:/app/src

volumes:
  pg_data:
